.App div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

#Footer {
  display: flex;
  flex-direction: row;
}

@media (max-width:1000px){
  #Footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    
  };
}